<div class="modal-content">
  <div class="modal-header" align="center">
    <img id="img_logo" src="/images/pokeball.png">
  </div>
  <div id="div-forms">
    <%= form_for(User.new, as: 'session', url: verify_sessions_path) do |f| %>
      <div class="modal-body">
        <div class="field">
          <%= f.label :nickname %>:
          <%= f.text_field :nickname, autofocus: true, class: "form-control", placeholder: "Enter Nickname", required: "", autocomplete: "off"%>
          <%= f.submit value: 'Login'%>
        </div>
      </div>
    <% end %>
  </div>
</div>