<div class="modal-content" style="width: 30%;
    margin: 0 auto;
    margin-top: 20%;">
  <div class="modal-header" align="center">
    <span style="color:#2AA2EF;font-weight:bold;font-size:2em;margin-left:8px;">TwitterSpace</span>
  </div>
  <div id="div-forms">
    <%= form_for(User.new, as: 'session', url: verify_sessions_path) do |f| %>
      <div class="modal-body">
        <div class="field">
          <%= f.label :username %>:
          <%= f.text_field :nickname, autofocus: true, class: "form-control", placeholder: "Enter Your Twitter Username", required: "", autocomplete: "off"%><br />
          <%= f.submit value: 'Login', :class => "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>